extends layout

block content
	if authed
		if authedGoogle
			p Logged in: #{userGoogle}
			img(src=pictureGoogle, alt="picture", width="23", height="23")
			br
			a(href="/logout") logout

		if authedGithub
			p Logged in: #{userGithub}
			br
			a(href="/logout") logout
		
		table
			tr
				th name
				th joined
				th lastvisit
				th counter
			
			each u in data
				tr
					td= u.name
					td= u.joined
					td= u.lastvisit
					td= u.counter
	else
		p
			a(href="/login/google") login with google
		p
			a(href="/login/github") login with github
