extends layout

block content
	div(id="connected-to-database", class="modal fade", tabindex="-1")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					h5(class="modal-title") Information
					button(type="button", class="btn-close", data-bs-dismiss="modal")
				div(class="modal-body")
					p Connected to database
				div(class="modal-footer")

	div(id="not-connected-to-database", class="modal fade", tabindex="-1")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					h5(class="modal-title") Information
					button(type="button", class="btn-close", data-bs-dismiss="modal")
				div(class="modal-body")
					p Couldn't connect to database
				div(class="modal-footer")

	if authed
		if authedGoogle
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				div(class="container-fluid")
					a(href="#", class="navbar-brand") #{userGoogle}
					button(type="button", class="navbar-toggler", data-bs-toggle="collapse", data-bs-target="#navbarCollapse")
						span(class="navbar-toggler-icon")
					div(class="collapse navbar-collapse", id="navbarCollapse")
						div(class="navbar-nav")
							a(href="#", class="nav-item nav-link active")
							img(src=pictureGoogle, alt="picture", width="23", height="23")
						div(class="navbar-nav ms-auto")
							a(href="/logout") logout

		if authedGithub
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				div(class="container-fluid")
					a(href="#", class="navbar-brand") #{userGithub}
					button(type="button", class="navbar-toggler", data-bs-toggle="collapse", data-bs-target="#navbarCollapse")
						span(class="navbar-toggler-icon")
					div(class="collapse navbar-collapse", id="navbarCollapse")
						div(class="navbar-nav")
							a(href="#", class="nav-item nav-link active")
						div(class="navbar-nav ms-auto")
							a(href="/logout") logout
		
		table(class="table table-primary")
			tr
				th name
				th joined
				th lastvisit
				th counter
			
			each u in data
				tr
					td= u.name
					td= u.joined
					td= u.lastvisit
					td= u.counter
		
		if connected
			script.
				var m = new bootstrap.Modal(document.getElementById("connected-to-database"));
				m.show();
		else
			script.
				var m = new bootstrap.Modal(document.getElementById("not-connected-to-database"));
				m.show();

	else
		p
			a(href="/login/google") login with google
		p
			a(href="/login/github") login with github
